html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #18191A;
}

#bgvid {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.form-signin {
  width: 100%;
  height: 100vh;
  max-width: 330px;
  padding: 13vh 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-main {
  width: 200px;
  margin: 0 auto;
}

.btn-design:hover {
  color: orange;
}

.btn-gamedevtv:hover {
  color: #4db89e;
}

.btn-itchio:hover {
  color: #fa5c5c;
}

.btn-udemy:hover {
  color: #a435f0;
}

.fa-linkedin {
  color: #0e76a8;
  padding-left: 0.1cm;
}

.fa-linkedin:hover {
  color: white;
}

.fa-envelope {
  color: #0e76a8;
}

.fa-envelope:hover {
  color: white;
}
